.frame{
    border: 2px solid grey;
    border-radius: 5px;
    width:30%;
    height: 50vh;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 25vh;
}
.head{
   padding-left:30%;
}
.res{
    border: 2px solid gray;
    margin-left: 12%;
    width: 50%;
    height: 5vh;
}
#clear{
    float: right;
   margin-right: 20%;
}
.keypad{
    padding:3% 0% 0% 10%;
}
.numb{
    background-color: blue;
    border: 2px solid white;
    color:white;
    width: 20%;
    height: 5vh;
    margin: 1%;
}
.operation{
    background-color: blue;
    border: 2px solid white;
    color:white;
    width: 10%;
    height: 5vh;
    margin: 1%;
}